[user]
    name = Spencer Butler
    email = dev@tcos.us
[alias]
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
    ui = true

[core]
    whitespace = cr-at-eol
[init]
    templatedir = ~/.git_template
[pull]
	rebase = false
